


# git
alias gcm='git commit'
alias gl='git log --topo-order --decorate'
alias gr='git reset --hard'
alias gcl='git clean -xdf'
alias gb='git branch'
alias gs='git status'


# directory
alias fcd='source _fcd'

